<div class="form">
  <div class="box-body">
    <field id="name" label="Nome" grid="12 6 4" placeholder="Informe o Nome"
        model="mtCtrl.motorcycle.name" readonly="mtCtrl.tabDelete"></field>
    <field id="brand" label="Marca" grid="12 6 4" placeholder="Informe a Marca"
        model="mtCtrl.motorcycle.brand" readonly="mtCtrl.tabDelete"></field>
    <field id="cylinder" label="Cilindrada" grid="12 6 4" placeholder="Informe a Cilindrada"
        type="number" model="mtCtrl.motorcycle.cylinder" readonly="mtCtrl.tabDelete"></field>
    <field id="style" label="Estilo" grid="12 6 4" placeholder="Informe o Estilo"
        model="mtCtrl.motorcycle.style" readonly="mtCtrl.tabDelete"></field>
    <field id="potency" label="Potência" grid="12 6 4" placeholder="Informe a Potência"
        type="number" model="mtCtrl.motorcycle.potency" readonly="mtCtrl.tabDelete"></field>
    <field id="torque" label="Torque" grid="12 6 4" placeholder="Informe o Torque"
        type="number" model="mtCtrl.motorcycle.torque" readonly="mtCtrl.tabDelete"></field>
    <field id="seat" label="Assento" grid="12 6 4" placeholder="Informe o Assento"
        type="number" model="mtCtrl.motorcycle.seat" readonly="mtCtrl.tabDelete"></field>
    <field id="weight" label="Peso" grid="12 6 4" placeholder="Informe o Peso"
        type="number" model="mtCtrl.motorcycle.weight" readonly="mtCtrl.tabDelete"></field>
    <field id="tank" label="Tanque" grid="12 6 4" placeholder="Informe o Tanque"
        type="number" model="mtCtrl.motorcycle.tank" readonly="mtCtrl.tabDelete"></field>
  </div>
  <div class="box-footer">
    <button class="btn btn-primary" ng-click="mtCtrl.create()"
      ng-if="mtCtrl.tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="mtCtrl.update()"
      ng-if="mtCtrl.tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="mtCtrl.delete()"
      ng-if="mtCtrl.tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="mtCtrl.refresh()">Cancelar</button>
  </div>
</div>
